falc.account.name=DevJAccountH2
falc.account.db=TEST
falc.account.version=0.5.0adev
falc.account.standingorder.cron=* 0 */2 * * ?

# Uses the DB created and populated by DatabasePopulateTest
falc.account.db.name=accountH2create
falc.account.db.location=./db

# this causes an exception when debugging so set it to a high value
#spring.datasource.hikari.leakDetectionThreshold=1000000
