@use "bootstrap";

.acc-modal-label
{
   @extend .input-group-text; 
   @extend .ps-1; 
   @extend .pe-2;
}

.acc-modal-row
{
   @extend .input-group ;
   @extend .input-group-sm;
   @extend .mb-2;
}


.acc-table-btn
{
   @extend .btn;
   @extend .my-0;
   @extend .py-0;
   --bs-btn-line-height: 16px;
   --bs-btn-border-width: 0;
   border-bottom-width: 0;
}
