// src/sass/custom-theme.scss
// Been going around in circles trying to figure out to apply the standard 'color variants'
// to a specific button using material 19 (aka M3). There is not a single example of real 
// HTML code displaying a warning button using anything other than the old, deprecated and no
// longer usable 'color' attribute.
// I can't even find anything that describes what is required to use a pre-built theme - everything
// points to needing to define a custom theme even to use a standard, un-modified theme.
// So I guess that's what Ihave to do.
// The azure-blue them suits me well enough so that's the standard that this so-called custom
// theme will be emulating.


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import 'material-symbols';

html {
   color-scheme: light dark;
   @include mat.theme((
     color: mat.$azure-palette,
     typography: 'Roboto Flex Variable',
     density: -1
   ));
   //@include mat.all-component-densities(-1);
   // @include mat.input-density(-4);
   @include mat.form-field-density(-3);

 }

 body
 {
   font-family: 'Roboto Flex Variable', Roboto, 'Open Sans', sans-serif;
   background: var(--mat-sys-surface);
   color: var(--mat-sys-on-surface);   
   // Apparently there are no standard classes for the standard color variants anymore.
   .mat-error {
      background-color: var(--mat-sys-error) !important;
     }   
}
