/* src/app/app-material.css : attempts to make Material components look more reasonable */

.mat-mdc-dialog-content /* must be copied to a css file in the component directory to work!!! */
{
   height:100%;
   max-height: 100%;
   padding: 0px 0px 0px 0px !important;
   overflow: auto !important;   
   background-color:  rgba(0, 0, 0, 0.32);
}
   
.mdc-button ~ .mdc-button {
   margin-left: 10px;
}

.mat-mdc-button-base 
{
   margin-left: 8px;
}


.mat-mdc-form-field, .mat-mdc-select, .mat-mdc-option
{
   font-size: 14px;  /* default 16px is just too much. Making it smaller does not reduce the box height so no point */
   min-height: 24px; /* line spacing in the select dropdown */
}

/*
    More hours spent trying to get the title text on the left and an icon on the left.
    For some reason it suddenly started to work - fingers crossed it carries on working!!
    These bits of magic coupled with some in the html seem to be responsible. 

    Unfortunately the title overflows the size of the card content hence padding is
    required which requires hard-coded values.

    Seems it was mat-mdc-card-header which was breaking the flush right. mat-mdc-card-header
    also provides the required padding to align the title with the content. It seems that
    replacing the 'display: flex' in mat-mdc-card-header with something else reenables the right flush.
*/
.mat-mdc-card-header
{
   display:inline;
}

.title-card-right
{
   font-size: 16px;
   display: inline;
   float: right;
}

.title-card-left
{
   display: inline;
  
}

.mat-mdc-card-actions
{
   display:inline;
   margin-top: 0px; 
      
}

.actions-card-right
{
   display: inline;
   float: right;
   margin-bottom: 10px;
   margin-right: 10px
}

.actions-card-left
{
   display: inline;
   margin-bottom: 10px;
}

.deleteicon {
   font-size: 30px;
   height: 30px ;
   width: 30px ;
   padding-top:3px;
}

/* This is supposed to be the cause of the excessive input box height
   but changing any of the height properties has no effect

.mat-mdc-text-field-wrapper
{
   max-height: 20px !important;
}
*/

.so-card {
   width: 100%;
 
   box-shadow:inset 0px 0px 0px 1px rgb(179, 176, 176);
   border: 3px solid  white !important;
   border-radius: 30px !important;
 }
 
 .so-card-head 
 {
    margin-top: 0px; 
    margin-bottom: 10px;
 }
 
 .row 
 {
   display: flex;
   flex-direction: row;
   margin-top: 0px; 
   margin-bottom: 0px;
 }
 
 .col {
   flex: 1;
 }
 
 .col:last-child {
   margin-right: 0;
 }
 
.full-width {
   width: 100%;
 }
 