/* src/app/app-material.css : attempts to make Material components look more reasonable */

.mat-mdc-dialog-content /* must be copied to a css file in the component directory to work!!! */
{
   height:100%;
   max-height: 100%;
   padding: 0px 0px 0px 0px !important;
   overflow: auto !important;   
   background-color:  rgba(0, 0, 0, 0.32);
}
   
.mdc-button ~ .mdc-button {
   margin-left: 10px;
}

.mat-mdc-button-base 
{
   margin-left: 8px;
}


.mat-mdc-form-field, .mat-mdc-select, .mat-mdc-option
{
   font-size: 14px;  /* default 16px is just too much. Making it smaller does not reduce the box height so no point */
   min-height: 24px; /* line spacing in the select dropdown */
}


/* Gave up trying to find the 'correct' Material 3 way to change button color
   and resorted to using the bootstap variable, which at least makes it consistent
   with the bootstrap dialog. I'm really strongly feeling like it would be wise to
   abandon Material - seems to be developed with the sole intent of giving a bunch
   of grassholes something to do with no regard or concern for those trying to use it.

   Can't even give a button a class to set the back colour without having it 
   overridden but the forking material shirt, eg. .mat-mdc-unelevated-button:not(:disabled)
   which can't be changed without affecting all buttons.
 */
.warning {
   background-color:  var(--bs-danger) !important;
}

.mat-mdc-card-actions
{
   display:inline;
   margin-top: 0px; 
      
}

.actions-card-right
{
   display: inline;
   float: right;
   margin-bottom: 10px;
   margin-right: 10px
}

.actions-card-left
{
   display: inline;
   margin-bottom: 10px;
}

.deleteicon {
   font-size: 30px;
   height: 30px ;
   width: 30px ;
   padding-top:3px;
}

/* This is supposed to be the cause of the excessive input box height
   but changing any of the height properties has no effect

.mat-mdc-text-field-wrapper
{
   max-height: 20px !important;
}
*/
