<!-- account.ui/src/app/app.component.html

NB  "flex-nowrap flex-row" can be used to prevent the 'vertical' navbar from appearing on phone display, but I
     I don't think it looks any better
 -->
 <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <ul class="navbar-nav">
    <li ngbDropdown class="nav-item d-inline-block">
        <button class="btn btn-sm btn-dark" id="btnAccounts" ngbDropdownToggle>Accounts</button>
        <div ngbDropdownMenu aria-labelledby="btnAccounts">
          <button *ngFor="let a of accounts" [routerLink]="['/transactions',a.id]" class="dropdown-item">{{a.name}}</button>
        </div>
    </li>
  </ul> 
  <a class="btn btn-sm btn-dark" routerLink="/standingorders" routerLinkActive="activebutton" ariaCurrentWhenActive="page">SOs</a>
  <div class="ms-auto order-last">
      <a class="navbar-brand" href="#">{{title}}<small> {{versiontxt}}</small></a>
  </div>
</nav>

<div class="page">
<router-outlet></router-outlet>
</div>
