/* src/app/checked-list/checked-list.component.css */
.mat-mdc-row:nth-child(odd)
{
    background-color: rgba(255, 251, 0, 0.089);
}

.mat-mdc-row:nth-child(even)
{
    background-color: rgba(128, 125, 2, 0.089);
}

.mat-mdc-header-row
{
    background-color: rgba(192, 189, 2, 0.623);
    height: 30px;
    font-weight: bold;
}
.mat-mdc-row
{
    height: 0px; 
}

.mat-mdc-cell, .mat-mdc-header-cell 
{
    border: none !important;
}

.mat-column-date, .mat-column-amount, .mat-column-ref, .mat-column-chkbal
{
   white-space: nowrap;
}

.mat-column-amount, .mat-column-chkbal
{
   text-align: right;
}

/* Unbelievably the icon inside an 'icon button' is forking displayed in the center by default! 
   This should go in the main styles.css since it is so fundamentally forking basic.
 */
.mat-icon 
{
   display: flex;
   align-items: center;
   justify-content: center;
}
