/* so-edit-mat/so-edit-mat.component.css */
.full-width {
  width: 100%;
}

.so-card {
  width: 50%;
  min-width: 400px;
  margin: 0px auto;
  margin-top: 0px; 
}

.so-card-head 
{
   margin-top: 0px; 
   margin-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 0px; 
  margin-bottom: 0px;
}

.col {
  flex: 1;

}

.col:last-child {
  margin-right: 0;
}
