<!-- so-edit-mat/so-edit-mat.component.html
     NB. This requires material to be installed:

     ng add @angular/material
     
   -->
<form [formGroup]="soForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="so-card">
    <mat-card-header>
      <mat-card-title>Standing Order</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
         <mat-form-field  appearance="outline" class="full-width">
            <mat-label>Entry Date</mat-label>
            <input matInput [matDatepicker]="entrydatepicker" placeholder="yyyy-mm-dd" formControlName="soentrydate">
            <mat-datepicker-toggle matIconSuffix [for]="entrydatepicker"></mat-datepicker-toggle>
            <mat-datepicker #entrydatepicker></mat-datepicker>            
         </mat-form-field>
      </div>
      <div class="row">
         <mat-form-field  appearance="outline" class="full-width">
            <mat-label>Pay Date</mat-label>
            <input matInput [matDatepicker]="paydatepicker" placeholder="yyyy-mm-dd" formControlName="sonextpaydate">
            <mat-datepicker-toggle matIconSuffix [for]="paydatepicker"></mat-datepicker-toggle>
            <mat-datepicker #paydatepicker></mat-datepicker>  
         </mat-form-field>
      </div>
      <div class="row">
         <mat-form-field  appearance="outline" class="full-width">
            <mat-label>Memo</mat-label>
            <input matInput placeholder="" formControlName="sodesc">
         </mat-form-field>
      </div>
      <div class="row">
         <mat-form-field  appearance="outline" class="full-width">
            <mat-label>Amount</mat-label>
            <input matInput placeholder="0.00" formControlName="soamount">
         </mat-form-field>
      </div>
      <div class="row">
         <mat-form-field  appearance="outline" class="full-width">
            <mat-label>Account</mat-label>
            <input matInput placeholder="" formControlName="accountname">
         </mat-form-field>
      </div>
      <div class="row">
         <mat-form-field  appearance="outline" class="full-width">
            <mat-label>Period</mat-label>
            <mat-select formControlName="soperiod">
               @for (type of periodTypes; track type) {
                 <mat-option [value]="type.period">{{ type.desc }}</mat-option>
               }
             </mat-select>              
         </mat-form-field>
      </div>
      <div class="row">
         <mat-form-field  appearance="outline" class="full-width">
            <mat-label>Repeat</mat-label>
            <input matInput placeholder="1" formControlName="socount">
         </mat-form-field>
      </div>
      <div class="row">
         <mat-form-field  appearance="outline" class="full-width">
            <mat-label>Type</mat-label>
            <mat-select placeholder="BC" formControlName="sotfrtype">
               @for (type of txnTypes; track type) {
                 <mat-option [value]="type">{{ type }}</mat-option>
               }
             </mat-select>            
         </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
