/* src/app/transferaccount-edit-mat/transferaccount-edit-mat.component.css */
.mat-mdc-button-base 
{
   margin-left: 8px;
}
.mat-mdc-card-header
{
   display:inline;
}
.title-card-right
{
   font-size: 16px;
   display: inline;
   float: right;
}
.title-card-left
{
   display: inline;
   font-size: 16px;   
}

.mat-mdc-card-actions
{
   display:inline;
   margin-top: 0px; 
      
}
.actions-card-right
{
   display: inline;
   float: right;
   margin-bottom: 10px;
   margin-right: 10px
}

.actions-card-left
{
   display: inline;
   margin-bottom: 10px;
}

.deleteicon {
   font-size: 30px;
   height: 30px ;
   width: 30px ;
   padding-top:3px;
}
