/* src/app/transferaccount-edit-mat/transferaccount-edit-mat.component.css */
.mat-mdc-card-header
{
   display:inline;
}
.title-card-right
{
   font-size: 16px;
   display: inline;
   float: right;
}
.title-card-left
{
   display: inline;
   font-size: 16px;   
}


.mat-mdc-dialog-content /* does not work when in app-material.css */
{
   height:100%;
   max-height: 100%;
   padding: 0px 0px 0px 0px !important;
   overflow: auto !important;   
   background-color:  rgba(0, 0, 0, 0.32);
}

