.title
{
   padding-top: 5px;

}

.title-label
{
   text-align:left;
   font-size: 10px; 
}
.title-text
{
   text-align:left;
   font-size: 14px;
   font-weight:bold; 
}

.title-left
{
   display: inline;
}

.title-center
{
   font-size: 12px;
   font-weight:normal;
}

.title-right
{
   font-size: 12px;
   font-weight:normal;
   text-align:right;
   justify-content: right;
}

.flex1 {
   flex: 1;
 }
 
